.navbar {
    background-color: #072227;
    color: #AEFEFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.pag {
    padding: 1em;
}